/* General styles==================================================*/
ninja-presentation /deep/ .text-left {
    text-align: left;
}

ninja-presentation /deep/ .text-small {
    font-size: 30px;
}
ninja-presentation /deep/ .text-medium {
    font-size: 38px;
}

ninja-presentation /deep/ .text-large {
    font-size: 42px;
}

ninja-presentation /deep/ .text-italic {
    font-style: italic;
}

ninja-presentation /deep/ .no-margins {
    margin: 0px;
}

ninja-presentation /deep/ .li-pretty {
    padding: 10px;
}

ninja-presentation /deep/ a {
    color: #b76564;
    text-decoration: underline;
}

ninja-presentation /deep/ .list {
    list-style: none;
    margin-left: 50px;
}


/* Custom styles====================================================*/
ninja-presentation /deep/ .devfest-logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

ninja-presentation /deep/ .profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

ninja-presentation /deep/ .transparent {
    opacity: 0.2;
}

ninja-presentation /deep/ .newsflash {
    background: url("../images/flash-in-action.png") no-repeat right;
    width: 900px;
    height: 100px;
}

/*override the ninja-slide styling for the code-sandbox components*/
ninja-presentation /deep/ .code-sandbox {
    height: 600px;
    width: 1100px;
    text-align: left;
    font-family: monospace;
    font-size: 20px;
}
ninja-presentation /deep/ .prism-js {
    height: 500px;
    text-align: left;
    font-family: monospace;
    font-size: 24px;
}

ninja-presentation /deep/ .prism-js-small {
    height: 500px;
    text-align: left;
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 20px;
}

ninja-presentation /deep/ .funny {
    height: 450px;
    width: 750px;
}